body, html {
  margin: 0;           /* Reset any default margin */
  padding: 0;          /* Reset any default padding */
  height: 100%;        /* Ensure full height for positioning */
}

.custom-icon {
   position: fixed;
   bottom: 0px;
   right: 0px;
   width: 60px;  /* Adjust icon size */
   height: 60px; /* Adjust icon size */
   z-index: 1000; /* Ensure it's on top of other content */
 }
